<p>Welcome to the {{hotelname}}</p>
<div [hidden]="hideRooms">
    Number of :
    <div [innerText]="numberofRooms"></div>
</div>
{{  rooms.avaliableRooms  ?? "NO Rooms"}}

<!-- {{roomList | json}} -->
<div *ngIf="rooms?.avaliableRooms">
    Rooms List
    <!-- {{roomList}} -->
    <table class="table">
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th [ngStyle]="{color:'green'}">Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>CheckIn Time</th>
        </tr>
        <tr [ngClass]="e ? 'even' : 'odd'"
        *ngFor="let room of roomList | slice :0:3; let e=even; let o = odd; let i=index">
        <td>{{i | percent}}</td>
        <td>{{e ? "Even":"Odd"}}</td>
        <td>{{room.roomnumber}}</td>
        <td>{{room.roomType}}</td>
        <td>{{room.price | currency : 'INR'}}</td>
        <td>{{room.amenities | lowercase}}</td>
        <td>{{room.checkinTime | date : 'dd/MMM/yyyy'}}</td>
        <td>{{room.rating |number :'1.0-0'}}</td>
        </tr>
    </table>
</div>
<button (click)="toogle()">Toogle</button>
